
@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <script>
            alert("Welcome to Home Page");
    </script>
</head>
<body background="~/Content/Images/bg.jpeg">
    <form>
        <h2>Expense Tracker</h2>
        <a href="~/Index.aspx" title="Move to Opeartion page"><span class="glyphicon glyphicon-wrench"></span>Operation Page </a>
    </form>
</body>
</html>